__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyre/
.hypothesis/

.coverage
.coverage.*
htmlcov/

.venv/
venv/
env/
ENV/

.python-version

*.egg-info/
build/
dist/

*.db
*.sqlite3

.ipynb_checkpoints/